<button id="hamburger-btn" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-menu-hamburger"></span>
</button>

<div class="user-name-display"><%= @user.name %></div>
<div id="mobile-menu">
  <span>Incomplete</span>
  <span>Complete</span>
  <span>Pass</span>
  <span>Sign Out</span>
</div>

<div id="overlay-view">

<h2 class="name-header"><%= @user.name %></h2>
<% current_week = Time.now.strftime('%W').to_i %>


<div class="incomplete-orders">
  <h3>Incomplete Work Orders</h3>
  <% @user.current_week_routes.distinct.each do |route| %>
    <h4>Route: <%= route.name %></h4>
    <table>
      <tr>
        <th>Job Name</th>
        <th>Final Price</th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    <% route.current_week_work_orders.where(complete: 'incomplete').each do |wo|  %>
      <tr>
        <td><%= link_to "#{wo.job.name}", work_order_path(wo)  %></td>
        <td><%= render partial: "work_orders/new_form", locals: { wo: wo } %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </ul>
</div>

<% if current_user.admin? %>
<div class="complete-orders">
  <h3>Complete Work Orders</h3>
  <ul>
  <% @user.current_week_routes.distinct.each do |route| %>
    <h4><%= route.name %></h4>
    <table>
      <tr>
        <th>Job Name</th>
        <th>Final Price</th>
      </tr>
    <% route.current_week_work_orders.where(complete: 'complete').each do |wo|  %>
      <tr>
        <td><%= link_to "#{wo.job.name}", work_order_path(wo)  %></td>
        <td><%= wo.final_price  %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </ul>
</div>

<div class="passed-orders">
  <h3>Customer Pass Work Orders</h3>
  <ul>
  <% @user.current_week_routes.distinct.each do |route| %>
    <h4><%= route.name %></h4>
    <table>
      <tr>
        <th>Job Name</th>
        <th>Estimated Price</th>
      </tr>
    <% route.current_week_work_orders.where(complete: 'pass').each do |wo|  %>
      <tr>
        <td><%= link_to "#{wo.job.name}", work_order_path(wo)  %></td>
        <td><%= wo.job.estimated_price  %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </ul>
</div>

<% end %>

</div>
