<div class="orders-container container-fluid">
<div class="incomplete-orders">
  <h3>Incomplete Work Orders</h3>
  <% if @user.work_orders.current_week.incomplete.empty? %>
    <p>You don't have any incomplete work orders this week!</p>
  <% else %>

    <div class="row">
      <div class="header col-xs-1"><p>Day</p></div>
      <div class="header col-xs-6"><p>Job Name</p></div>
      <div class="header col-xs-2"><p>Price</p></div>
      <div class="header col-xs-3"><p></p></div>
    </div>

    <div class="row">

      <% @user.work_orders.current_week.incomplete.order(:position).each do |wo| %>
        <div class='reorder' id='wo_<%= wo.id %>'>
          <div class="not-header col-xs-1">
            <% if wo.route.day != nil %>
              <p><%= wo.route.day.capitalize.slice(0..2) %></p>
            <% else %>
              <p>TBA</p>
            <% end %>
            </div>

          <div class="not-header col-xs-6 job-description-name"><p><%= link_to "#{wo.job.name}", work_order_path(wo) %>, R#<%= wo.route.id %></p></div>
          <div class="not-header col-xs-2"><p><%= wo.job.estimated_price %></p></div>
          <div class="not-header col-xs-3"><%= render partial: "work_orders/done_form", locals: { wo: wo } %></div>

        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="complete-orders">
  <h3>Complete Work Orders</h3>
  <% if @user.work_orders.current_week.complete.empty? %>
    <p>You don't have any complete work orders this week!</p>
  <% else %>

    <div class="row header-row-container">
      <div class="header col-xs-1"><p>Day</p></div>
      <div class="header col-xs-9"><p>Job Name</p></div>
      <div class="header col-xs-2"><p>Price</p></div>
    </div>

    <div class="row data-row-container">
      <% @user.work_orders.current_week.complete.each do |wo| %>
        <div class='reorder-complete'>
          <div class="not-header col-xs-1">
            <% if wo.route.day != nil %>
              <p><%= wo.route.day.capitalize.slice(0..2) %></p>
            <% else %>
              <p>TBA</p>
            <% end %>
            </div>

          <div class="not-header col-xs-9"><p><%= link_to "#{wo.job.name}", work_order_path(wo) %>, R#<%= wo.route.id %></p></div>
          <div class="not-header col-xs-2"><p><%= wo.final_price %></p></div>

        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="passed-orders">
  <h3>Customer Pass Work Orders</h3>
  <% if @user.work_orders.current_week.pass.empty? %>
    <p>You don't have any customer pass work orders this week!</p>
  <% else %>

    <div class="row">
      <div class="header col-xs-1"><p>Day</p></div>
      <div class="header col-xs-9"><p>Job Name</p></div>
      <div class="header col-xs-2"><p>Price</p></div>
    </div>

    <div class="row">
      <% @user.work_orders.current_week.pass.each do |wo|  %>
        <div class='reorder-complete'>
          <div class="not-header col-xs-1">
            <% if wo.route.day != nil %>
              <p><%= wo.route.day.capitalize.slice(0..2) %></p>
            <% else %>
              <p>TBA</p>
            <% end %>
            </div>
          <div class="not-header col-xs-9"><p><%= link_to "#{wo.job.name}", work_order_path(wo) %>, R#<%= wo.route.id %></p></div>
          <div class="not-header col-xs-2"><p><%= wo.final_price %></p></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

</div>
