<p id="notice"><%= notice %></p>

<h1 class="name-header">Weekly Schedule</h1>

<!-- <div id="test-div">
  <h3>Open Jobs</h3>
  <%# @independent_jobs.each do |job| %>
  <p><%# job.name | job.estimated_price.round(2) %></p>
  <%# end %>
</div> -->


<div id='route-container'>
  <% if @open_routes.any? %>
    <% @open_routes.each do |route| %>
      <a href="/routes/<%= route.id %>">
        <div class="route">
          <div class='route-tile'>
          <div>
            <div class='route-name' colspan='2'><%= route.name %></div>
          </div>
          <div>
            <div class='png'><i class='fa fa-sun-o'></i></div>
            <div class='route-amount p'>$<%= route.sum_jobs.round(0) %></div>
          </div>
          <div>
            <div class='png'><i class='fa fa-cloud'></i></div>
            <div class='route-amount'>$<%= route.sum_rainy.round(0) %></div>
          </div>
        </div>
        </div>
      </a>
    <% end %>
  <% end %>
</div>

<div class="grid-container">
  <table class="grid-table">
    <thead>
      <tr class="grid-head">
        <th class="grid-th">Employee</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
        <th>Projected Total</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="grid-td">

            <a href="<%= employee_user_path(user) %>"> <%= user.name %> </a>
          </td>
          <% ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"].each do |day_str| %>
            <td class='droppable' id="<%= user.id %>">
              <% user.routes.each do |route| %>
                <%= route.name + '    ' + route.sum_jobs.to_s if route.day == day_str %>
              <% end %>
            </td>
          <% end %>

          <td class="total">
            $<%= user.sum_routes %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
