<p id="notice"><%= notice %></p>
<div class="detail">

<p>
  <strong>Client:</strong>
  <%= @work_order.job.client.business_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work_order.job.description %>
</p>

<p>
  <strong>Employee(s):</strong>
  <% @work_order.employees.each do |employee| %>
    <%= employee.name %>
  <% end %>
</p>

<form class="update-form" method="post" action="/work_orders">
<p><label class="inline">Final Price:</label>
<input class="inline-price" type="text" name="final_price" placeholder="<%= @work_order.job.estimated_price %>"/></p>
<div class="textarea"><p><textarea name="notes" placeholder="Optional notes..."/></textarea></p></div>
<p><label class="inline">Status:</label><select name="complete">
  <option value="Complete">Complete</option>
  <option value="Pass">Pass</option>
  </select></p>

<p><input class="button" type="submit" value="Done"/></p>
</form>
<%= link_to 'Cancel', user_path(current_user) %>
</div>
