<p id="notice"><%= notice %></p>
<div class="detail">

<p>
  <strong>Client:</strong>
  <%= @work_order.job.client.business_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work_order.job.description %>
</p>

<p>
  <strong>Employee(s):</strong>
  <% @work_order.employees.each do |employee| %>
    <%= employee.name %>
  <% end %>
</p>

<%= simple_form_for(@work_order) do |f| %>
  <%= f.input :final_price, input_html: {value: @work_order.job.estimated_price}, label: "Final Price:" %><br>

  <%= f.input :complete, label: "Status:", collection: ["Complete", "Pass"], selected: "Complete" %>

  <%= f.input :notes, label: false, as: :text, input_html: {rows: 5, cols: 20}, placeholder: "Optional notes..."  %>
  <div class="form-actions">
    <%= f.button :submit, value: "Done" %>
  </div>
<% end %>

<%= link_to 'Cancel', user_path(current_user) %>
</div>
